* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #232931;
  min-width: 400px;
  color: white;
  font-size: 1.4rem;
}

/* --------------Navbar--------------- */
.navbar {
  overflow: hidden;
  background-color: #232931;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border: 1px solid #393e46; /*border for reference only*/
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #232931;
  color: #4ecca3;
  border-bottom: 3px solid #4ecca3;
}

/* --------------Button------------- */
.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}

/*--- btn-1 ---*/
.btn-1::before {
  background-color: #4ecca3;
  transition: 0.3s ease-out;
}
.btn-1 span {
  color: #4ecca3;
  border: 1px solid #4ecca3;
  transition: 0.2s 0.1s;
}
.btn-1 span:hover {
  background-color: #4ecca3;
  color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
}
.btn.hover-filled-opacity::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.btn.hover-filled-opacity:hover::before {
  opacity: 0;
}
/* --------------Home--------------- */
.home {
  margin-top: 48px; /* Add a top margin to avoid content overlay */
  border: 1px solid #393e46; /*for reference only delete later*/
  width: 100%;
  height: 100vh;
}
.home article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid coral;
  margin-top: 40vh;
}
.home h1 {
  border: 1px solid pink;
  margin: auto;
}

.home p {
  border: 1px solid pink;
  margin: auto;
}

/* --------------About--------------- */

.about {
  border: 1px solid #393e46; /*for reference only delete later*/
  width: 100%;
  height: 100vh;
  background-color: #393e46;
}

.about h1 {
  border: 1px solid pink; /*for reference only delete later*/
}

.about-me {
  width: 50%;
  float: left;
  border: 1px solid coral; /*for reference only delete later*/
  padding: 0 30px 15px;
  margin-top: 250px;
}

/* skils */
.skills {
  width: 50%;
  float: left;
  border: 1px solid coral; /*for reference only delete later*/
  padding: 0 30px 15px;
  margin-top: 250px;
}

/* --------------Work--------------- */

.work {
  border: 1px solid #393e46; /*for reference only delete later*/
  width: 100%;
  height: 100%;
}
.work h1 {
  border: 1px solid coral; /*for reference only delete later*/
  margin: 10px;
}
.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 10px;
  text-align: center;
  font-family: arial;
  background-color: #393e46;
}

img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 1px solid coral; /*for reference only delete later*/
}
.project-description {
  border: 1px solid coral; /*for reference only delete later*/
}
.project-tech{
  border: 1px solid coral; /*for reference only delete later*/
  font-size: 1rem;
}
/* --------------Contact--------------- */

.contact {
  border: 1px solid #393e46; /*for reference only delete later*/
  width: 100%;
  height: 100vh;
}

/* =========800px and below css================================================== */
@media screen and (max-width: 800px) {
  /* --------------About--------------- */
  .about {
    border: 1px solid #393e46; /*for reference only delete later*/
    width: 100%;
    height: 100vh;
    background-color: #393e46;
  }

  .about-me {
    margin-top: 0;
    width: 100%;
    height: 50%;
    padding: 0 50px 0;
  }

  /* skils */
  .skills {
    margin-top: 0;
    width: 100%;
    height: 50%;
    padding: 0 50px;
  }
  /* --------------Work--------------- */

  /* --------------Contact--------------- */
}

/* ===========600px and below css============================================== */

@media screen and (max-width: 600px) {
  .navbar {
    direction: rtl;
    display: flex;
    justify-content: center;
  }

  .navbar a {
    border: 1px solid coral; /*for reference only delete later*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  /* --------------About--------------- */
  .about {
    border: 1px solid #393e46; /*for reference only delete later*/
    width: 100%;
    height: 100vh;
    font-size: 1rem;
  }

  .about-me {
    margin-top: 0;
    width: 100%;
    height: 50%;
    padding: 0 50px 0;
  }

  /* skils */
  .skills {
    margin-top: 0;
    width: 100%;
    height: 50%;
    padding: 0 50px;
  }
  /* --------------Work--------------- */

  /* --------------Contact--------------- */

  .contact {
    border: 1px solid #393e46; /*for reference only delete later*/
    width: 100%;
    height: 100vh;
  }
}

/* ===========400px and below css================================================== */
@media (max-width: 400px) {
  .navbar {
    direction: rtl;
    display: flex;
    justify-content: center;
  }
  .navbar a {
    border: 1px solid coral; /*for reference only delete later*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
  }

  /* --------------About--------------- */
  .about {
    border: 1px solid #393e46; /*for reference only delete later*/
    width: 100%;
    height: 100vh;
    font-size: 1rem;
  }

  .about-me {
    margin-top: 0;
    width: 100%;
    height: 50%;
    padding: 0 20px 0;
  }

  /* skils */
  .skills {
    margin-top: 0;
    width: 100%;
    height: 50%;
    padding: 0 20px;
  }

  /* --------------Work--------------- */

  /* --------------Contact--------------- */
}
